
    <!-- Footer -->
   

      <footer class="footer mt-5 py-3 bg-dark text-white">
        <div class="container text-center">
          <span >© 2024 Sampark. All rights reserved.</span>
        </div>
      </footer>
      <!-- Footer -->
  
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
      ></script>
  
      <script>
        function markActive(link) {
          var links = document.querySelectorAll(".nav-link");
          links.forEach(function (item) {
            item.classList.remove("active");
          });
          link.classList.add("active");
        }
      </script>
    </body>
  </html>
  