
<!-- navbar -->
   
    <%- include('./partials/nav1') %>
 

    <!-- hero section -->
    <section id="hero" class="py-5">
      <div class="container">
        <div class="row align-items-center">
          <!-- Text Content -->
          <div class="col-md-6">
            <h1 class="display-4">Welcome to Sampark</h1>
            <p class="lead">
              Your premier destination for revolutionizing logistics across
              India. With Sampark, simplify truck booking and manage shipments
              effortlessly.
            </p>
            <a href="/signin" class="btn btn-primary btn-lg">Get Started</a>
          </div>
          <!-- Image -->
          <div class="col-md-6">
            <img src="/images/hero.jpg" alt="Hero Image" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>
    <hr />
    <!-- hero section -->

    <!-- About Us Section -->
    <section id="about-us" class="pt-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-md-2">
            <img
              src="/images/about.jpg"
              alt="About Us Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 order-md-1">
            <div>
              <h2 class="mb-4">About Us</h2>
              <p>
                Welcome to Sampark, your premier destination for revolutionizing
                logistics across India. We're dedicated to simplifying truck
                booking, making it effortless for businesses to manage their
                shipments.
              </p>
              <p>
                Using cutting-edge technology, Sampark connects you with trusted
                trucking partners nationwide. Enjoy seamless bookings, real-time
                tracking, and transparent pricing - all at your fingertips.
              </p>
              <p>
                Using cutting-edge technology, Sampark connects you with trusted
                trucking partners nationwide. Enjoy seamless bookings, real-time
                tracking, and transparent pricing - all at your fingertips. At
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Us Section -->
    <hr />

    <!-- Services Section -->
    <section id="services" class="py-5">
      <div class="container">
        <h2 class="text-center mb-4">Our Services</h2>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="/images/services1.jpg" class="card-img-top" alt="Service 1 Image">
              <div class="card-body">
                <h5 class="card-title">Seamless Cargo Management</h5>
                <p class="card-text">Facilitate industries in managing their cargo transportation needs efficiently. From scheduling pickups to specifying delivery locations and requirements, our platform ensures streamlined cargo management.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="/images/services2.jpg" class="card-img-top" alt="Service 2 Image">
              <div class="card-body">
                <h5 class="card-title">Targeted Client Acquisition</h5>
                <p class="card-text">Empower truck drivers and owners to expand their client base by listing their services on our platform. Through detailed listings showcasing their expertise, available trucks, and preferred routes.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="/images/services3.jpg" class="card-img-top" alt="Service 3 Image">
              <div class="card-body">
                <h5 class="card-title">Intelligent Freight Matching</h5>
                <p class="card-text">Utilize advanced algorithms to match industries with the most suitable truck drivers and owners for their transportation needs. By considering factors such as cargo type, volume, destination, and truck availability.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    <!-- Services Section -->

    <!-- Contact Us Section -->
    <section id="about-contact" class="pb-5">
      <div class="container">
        <div class="row">
          <!-- Image -->
          <div class="col-md-6">
            <img
              src="/images/contact.jpg"
              alt="contact Us Image"
              class="img-fluid"
            />
          </div>
          <!-- Contact Form -->
          <div class="col-md-6 mt-5">
            <h2 class="my-4">Contact Us</h2>
            <form>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control mb-4"
                  placeholder="Name"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control mb-4"
                  placeholder="Email"
                  required
                />
              </div>
              <div class="form-group">
                <textarea
                  class="form-control mb-4"
                  rows="5"
                  placeholder="Message"
                  required
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Us Section -->
    <%- include('./partials/footer') %>